/* Globalne ustawienia */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Nawigacja */
.navbar-custom {
    background-color: black;
    color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

/* Ustawienie kontenera na pełną wysokość ekranu */
.container {
    flex: 1;
    padding-top: 20px;
}

/* Tytuł karty */
.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Tabela pacjentów */
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.table th, .table td {
    vertical-align: middle;
}

/* Przycisk wyszukiwania */
.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

/* Przycisk "Pokaż i edytuj dane" */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Przycisk "Usuń" */
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Przycisk "Dodaj" */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

/* Stopka */
footer {
    background-color: black;;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #dee2e6;
    margin-top: auto;
}

footer p {
    margin: 0;
    color: #6c757d;
}
