html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('/pxfuel.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}


body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}


.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: initial;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 15px;
    margin-top: 10px;
}

.navbar-custom {
    width: 100%;

}

.navbar-nav .nav-link {
    color: white;

    :hover none;

}
footer {
    background-color: black;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.btn-secondary {
    margin-top: 10px;
    width: 50%;
}

.btn-primary {
    margin-top: 10px;
    width: 50%;
}

.navbar-custom {
    background-color: #000000;
    width: 100%;

}

.navbar-nav .nav-link:hover {
    color: red;
}
.login-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #333;
    width: 100%;
    max-width: 400px;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
