<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz rejestracji</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container-xl">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Rejestracja nowej wizyty</h3>

            <form th:action="saveVisit" th:method="post" th:object="${visit}">

                <div class="form-group mb-3" th:action="saveVisit" th:method="post" th:object="${patient}">
                    <label>Imię</label>
                    <input type="text"
                           th:field="${patient.name}"
                           class="form-control"
                           id="name"
                           placeholder="podaj imię"
                    >
                    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="${patient.name}">Name
                        error</p>

                    <label>Nazwisko</label>
                    <input type="text"
                           th:field="${patient.surname}"
                           class="form-control"
                           id="userSurname"
                           placeholder="podaj nazwisko"
                    >
                    <p th:if="${#fields.hasErrors('surname')}" class="text-danger" th:errors="${patient.surname}">
                        Surname
                        error</p>

                    <label for="pesel">Pesel</label>
                    <input type="text"
                           th:field="${patient.pesel}"
                           class="form-control"
                           id="pesel" placeholder="pesel"
                    >
                    <p th:if="${#fields.hasErrors('pesel')}" class="text-danger" th:errors="${patient.pesel}">Pesel
                        error</p>

                </div>

                <label>Data wizyty</label>

                <input type="datetime-local"
                       th:field="${visit.visitDate}"
                       name="visitDate">
                <p th:if="${#fields.hasErrors('visitDate')}" class="text-danger" th:errors="${visit.visitDate}">
                    visitDate
                    error</p>


                <div class="form-check form-switch mb-3">
                    <input class="form-check-input"
                           type="checkbox"
                           id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Pacjent jest ubezpieczony</label>
                </div>

                <div class="btn-group mb-3" th:action="saveVisit" th:method="post" th:object="${doctor}">

                    <span> Do jakiego lekarza chcesz zapisać? </span>

                </div>

                <div>

                    <select class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            name="specialization">
                        <option th:each="specOpt : ${T(pl.infoshare.clinicweb.doctor.Specialization).values()}"
                                th:value="${specOpt}" th:text="${specOpt.getDescription()}"></option>
                    </select>


                    <span id="selected-specialization" class="ms-3"></span>

                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-block">Zarejestruj się</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function selectSpecialization(specialization) {
        document.getElementById('selected-specialization').innerText = specialization;
    }
</script>
</body>
</html>