<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped tfixed" th:object="${doctor}">

    <h3>Lista lekarzy </h3>

    <thead >
    <tr bgcolor="d3d3d3">
        <td>Imię</td>
        <td>Nazwisko</td>
        <td>Specjalizacja</td>
    </tr>
    </thead>

    <tbody bgcolor="lightsteelblue">

    <tr th:each="doctor:${listDoctor}">

        <td th:text="${doctor.name}"></td>
        <td th:text="${doctor.surname}"></td>
        <td th:text="${doctor.specialization}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>