<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internetowa Przychodnia</title>

    <link th:href="@{styles/style.css}" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </div>
</nav>
<div class="container-fluid">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Dzień Dobry</h1>
        <p class="lead">Cześć! 🩺 Witamy w naszej internetowej przychodni! 🌐 Cieszymy się, że do nas dołączyłeś. Jesteśmy
            tutaj, aby pomóc Ci dbać o zdrowie w wygodny i bezpieczny sposób. Nasz zespół składa się z doświadczonych
            lekarzy i specjalistów, gotowych odpowiedzieć na Twoje pytania i zapewnić wsparcie medyczne online.</p>
        <p>Jeśli masz jakieś pytania lub potrzebujesz porady, nie krępuj się z nami skontaktować. Twoje zdrowie jest dla
            nas najważniejsze! 💙</p>
        <p>Z pozdrowieniami, <br>Zespół Internetowej Przychodni</p>

        <a th:href="@{/visit}" class="btn btn-secondary btn-lg btn-block" role="button"
           aria-pressed="true">Umów się na wizytę</a>

        <form action="/clear-data" method="POST"  onsubmit="return confirm('Are you sure you want to delete all data?');">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Usuń dane testowe</button>
        </form>
        <a th:href="@{/create-Data}" class="btn btn-secondary btn-lg btn-block" role="button"
           aria-pressed="true">Generuj losowe dane testowe</a>
    </div>
</div>
</body>
<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
<script>
    function updateCurrentDateTime() {
        const currentTimeElement = document.getElementById('currentTime');
        const now = new Date();

        const day = String(now.getDate()).padStart(2, '0');
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const year = now.getFullYear();

        // Pobranie godziny
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');

        // Wyświetlenie daty i godziny
        currentTimeElement.textContent = `Aktualna data i godzina: ${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
    }

    // Aktualizuj co sekundę
    setInterval(updateCurrentDateTime, 1000);

    // Wywołaj funkcję po załadowaniu strony
    updateCurrentDateTime();
</script>
</html>
