<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">

</head>
<body>


<table class="table table-striped tfixed" th:object="${patient}">

    <h3>Lista pacjentow </h3>

    <thead >
    <tr bgcolor="d3d3d3">
        <td>Imię</td>
        <td>Nazwisko</td>
        <td>Lekarz</td>
    </tr>
    </thead>

    <tbody bgcolor="lightsteelblue">

    <tr th:each="patient:${listPatient}">

        <td th:text="${patient.name}"></td>
        <td th:text="${patient.surname}"></td>
        <td th:text="${patient.phoneNumber}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>