<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search and Edit Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1>Search and Edit Patient Data</h1>

    <form action="/search" method="post" class="mb-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="pesel" placeholder="Wpisz numer PESEL" aria-label="Search" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Wyszukaj</button>
        </div>
    </form>

    <div th:if="${error != null}" class="mt-4 alert alert-danger" role="alert">
        <p th:text="${error}">Błąd</p>
    </div>

    <div th:if="${patient != null}" class="mt-4">
        <form th:action="@{/edit}" th:method="post" th:object="${patient}">
            <div class="form-group">
                <label for="name">Imię:</label>
                <input type="text" class="form-control" id="name" th:field="*{personDetails.name}">
            </div>
            <div class="form-group">
                <label for="surname">Nazwisko:</label>
                <input type="text" class="form-control" id="surname" th:field="*{personDetails.surname}">
            </div>
            <div class="form-group">
                <label for="pesel">PESEL:</label>
                <input type="text" class="form-control" id="pesel" th:field="*{personDetails.pesel}">
            </div>
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
        </form>
    </div>

    <div th:if="${success != null}" class="mt-4 alert alert-success" role="alert">
        <p th:text="${success}">Sukces</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+DVQT20Iw6j5mDaTwtjz6fBLv9gI6"
        crossorigin="anonymous"></script>
</body>
</html>
