<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyszukiwanie pacjenta po pesel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{styles/newStyle.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </div>
</nav>
<div class="container">
    <h3 class="card-title text-center">Wyszukiwanie pacjenta po pesel</h3>
    <form th:action="@{/search-patient}" th:method="post">
        <div class="input-group mb-2 ">
            <input type="text" class="form-control form-control-sm" name="pesel" placeholder="Wpisz numer PESEL"
                   aria-label="Search"
                   aria-describedby="button-addon2" required>

            <div class=" ms-2">
                <button type="submit" class="btn btn-outline-primary" id="button-addon2">Wyszukaj</button>
            </div>

        </div>
    </form>
    <div th:if="${error != null}" class="mt-4 alert alert-danger" role="alert">
        <p th:text="${error}">Błąd</p>
        <a th:href="@{/patient}" class="btn btn-primary" role="button" aria-pressed="true">Dodaj pacjenta do bazy</a>
    </div>
    <a th:href="@{/patients}" class="btn btn-primary" role="button" aria-pressed="true">Powrót do listy
        pacjentów</a>
    <div th:if="${searchForPesel != null}" class="card mt-4">
        <table class="table table-striped tfixed">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer telefonu</th>
                <th>Pesel</th>
                <th>Lekarz prowadzacy</th>
                <th>Wszystkie dane</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${searchForPesel}">
                <td th:text="${patient.personDetails.name}">Name</td>
                <td th:text="${patient.personDetails.surname}">Surname</td>
                <td th:text="${patient.personDetails.phoneNumber}">Phone number</td>
                <td th:text="${patient.personDetails.pesel}">Pesel</td>
                <td th:text="${patient.doctor}">Prime doctor</td>
                <td>
                    <a th:href="@{/update-patient(pesel=${patient.personDetails.pesel})}"
                       class="btn btn-primary btn-sm active"
                       role="button" aria-pressed="true">Pokaż i edytuj dane</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</html>
