<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz rejestracji</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{styles/newStyle.css}" rel="stylesheet"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </div>
</nav>
<div class="container">
    <div class="card bg-transparent">
        <div class="card-body">
            <h3 class="card-title text-center">Rejestracja nowej wizyty</h3>

            <form th:action="@{/visit}" th:method="post" th:object="${visit}">

                <div th:object="${patient}">

                    <div class="mb-3">
                        <label class="form-label">Wybierz pacjenta:</label>

                        <select id="patientPesel"
                                name="patientPesel"
                                class="btn btn-primary btn-block"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                required
                                oninvalid="setCustomValidity('Wybierz pacjenta')"
                                oninput="setCustomValidity('')">
                            <option value="" selected>----WYBIERZ PACJENTA----</option>
                            <option th:each="patient : ${patients}"
                                    th:value="${patient.personDetails.pesel}"
                                    th:text="${patient.personDetails.name + ' ' + patient.personDetails.surname + '  Pesel: ' + patient.personDetails.pesel} "></option>

                        </select>
                    </div>


                    <div class="mb-3">
                        <label class="form-label">Do jakiego lekarza chcesz sie zapisać?</label>

                        <select id="doctorPesel"
                                name="doctorPesel"
                                class="btn btn-primary btn-block"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                required
                                oninvalid="setCustomValidity('Wybierz lekarza')"
                                oninput="setCustomValidity('')">
                            <option value="" selected>----WYBIERZ LEKARZA----</option>
                            <option th:each="doctor : ${doctors}"
                                    th:value="${doctor.personDetails.pesel}"
                                    th:text="${doctor.personDetails.name + ' ' + doctor.personDetails.surname + ' ' + doctor.specialization} "></option>

                        </select>
                    </div>
                </div>

                <label>Data wizyty</label>
                <div class="form-group">
                    <input type="datetime-local"
                           th:field="${visit.visitDate}"
                           name="visitDate">
                    <p th:if="${#fields.hasErrors('visitDate')}" class="text-danger"
                       th:errors="*{visitDate}">Date error</p>
                </div>

                <button type="submit" class="btn btn-primary">Zarejestruj się</button>

            </form>
            <div th:align="center" th:if="${success}" class="mt-4 alert alert-success" role="alert">
                <p th:text="${success}">Sukces</p>
            </div>

            <a class="btn btn-primary" th:href="@{/}">Wróć do strony głównej</a>

        </div>
    </div>
</div>
<footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>